<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>File Distributor</title>
</head>
<body bgcolor="#6495ed">
<div>
    <h2>File Distributor</h2><br>
    <p style=margin-top:-25px;> Application for searching and downloading files. Designed for use in the cartography department in one of the major tourist publishing houses.<br>
        It facilitates management of the file flow in publishing process.</p><br>

    <p style="margin-top:-25px; font-weight: bold;";>How it works?</p>
    <p style=margin-top:-10px;>
        Files are marked by a code called RAKS code. Given a RAKS code, application diplays a form where user selects her or his name and type of job. Basing on user's input<br>
        and data from excel file (for testing purposes data are saved in the application code) application finds corresponding files, copies them to selected directory<br>
        or displays their data. Additionally it creates an excel file where necessary data are saved (who and for what purpose has downloaded files).<br>
    </p><br>
    <a href="/raksform">Go to the RAKS code form</a><br>
</div>
</body>
</html>