<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>File Distributor</title>
</head>
<body bgcolor="#6495ed">
<div>
    <h2>File Distributor</h2><br>
    <p style=margin-top:-25px;> Application designed for one of the tourist publishing houses.<br>
        It facilitates management of the file flow in publishing process.</p><br>

    <button onclick="window.location.href = '/raksform';">Start</button>
    <button onclick="window.location.href = '/uploadform';">Upload</button>
</div>
</body>
</html>