<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <style>#mapid { height: 500px; }</style>


</head>
<body>

<div id="mapid"></div>

<script th:inline="javascript">

    var polygon = [[${polygon}]];

    var map = L.map('mapid').setView([polygon.leftUpperLat, polygon.leftUpperLon], 8);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var bounds = [[polygon.leftUpperLat, polygon.leftUpperLon], [polygon.rightLowerLat, polygon.rightLowerLon]];
    // create an orange rectangle
    L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);
    // zoom the map to the rectangle bounds
    map.fitBounds(bounds);

    // polygonCoordinatesList.forEach(value => {
    //     L.marker([value.leftUpperLat, value.leftUpperLon], [polygon.rightLowerLat, polygon.rightLowerLon]).addTo(map)
    //     L.rectangle([polygon.leftUpperLat, polygon.leftUpperLon], [polygon.rightLowerLat, polygon.rightLowerLon],{color: "#ff7800", weight: 1});
    //         // .bindPopup(value.text)
    //         // .openPopup();
    // })


    // L.marker([polygon.leftUpperLat, polygon.leftUpperLon]).addTo(map)
    //     .bindPopup(polygon.leftUpperLat)
    //     .openPopup();

    // points.forEach(value => {
    //     L.marker([value.lat, value.lon]).addTo(map)
    //         .bindPopup(value.text)
    //         // .openPopup();
    // })

    // points.forEach(value => {
    //     // L.marker([value.lat, value.lon]).addTo(map)
    //     //     .bindPopup(value.text)
    //     // .openPopup();
    //
    //     L.circle([value.lat, value.lon], {
    //         color: 'red',
    //         fillColor: '#f03',
    //         fillOpacity: 0.5,
    //         radius: value.confirmedCasesAsDiagramsArea*200
    //     }).addTo(map)
    //         .bindPopup(value.text);
    // })


</script>

</body>
</html>