<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>File Distributor - RAKS form</title>
</head>
<body bgcolor="#6495ed">
<hr>
<div class="container">
    <h2>RAKS code form</h2>
    <div>

        <p style="font-weight: bold;";>How it works?</p>
        <p style=margin-top:-10px;>
            Publications are marked by a code called RAKS code.<br>
            Choose one of the codes and click "View" - you will see component files of the publication.<br>
            Choose one of the codes and click "View on map" - you will see a geographical range of the publication.<br>
            Choose one of the codes and click "Download" - you will receive an Excel file with attributes of component files.<br>
            If you click "Upload" - you may update component files' attributes. Change data in downloaded Excel file and upload it.<br>
        </p>
        <br>

        <form action="#" th:action="@{/givefiles}" th:object="${rakscode}" method="get">
            <p style="font-weight: bold;">Select RAKS code:</p>
            <select style="margin-top:-10px;" th:field="*{raksCode}">
                <option th:each="item : ${raksCodeList}"
                        th:value="${item.id}"
                        th:text="${item.raksCode}"></option>
            </select>
            <p style="font-weight: bold;"></p><br>
            <button style="margin-top:-25px; background-color: lightyellow" type="submit" name="action" value="view">View</button>
            <button style="margin-top:-25px; background-color: hotpink" type="submit" name="action" value="view_on_map">View on map</button>
            <button style="margin-top:-25px; background-color: orange" type="submit" name="action" value="download">Download</button>
            <button style="margin-top:-25px; background-color: yellow" type="submit" name="action" value="upload">Upload</button>
            <br>
        </form>
        <hr>
        <br>
    </div>
</div>

</body>
</html>

