<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>File Distributor - RAKS form</title>
</head>
<body bgcolor="#6495ed">
<hr>
<div class="container">
    <h2>RAKS code form</h2>
    <div>
        <form action="#" th:action="@{/givefiles}" th:object="${raksCode}" method="post">

            <p style="font-weight: bold;">Select RAKS code:</p>
            <select style="margin-top:-10px;" th:field="*{raksCode}">
                <option th:each="item : ${raksCodeSet}"
                        th:value="${item.raksCode}"
                        th:text="${item.raksCode}"></option>
            </select>

            <p style="font-weight: bold;">Select your name: &ensp;
            <br><br>
            <select style="margin-top:-10px;" th:field="*{userName}">
                <option value = "ADRIAN">Adrian</option>
                <option value = "BOLEK">Bolek</option>
                <option value = "LOLEK">Lolek</option>
            </select>
            </p><br><br>

            <p style="margin-top:-25px; font-weight: bold;">Select type of job.</p>
            <input style="margin-top:-10px;" type="radio" name="job" th:field="*{jobType}" value="PUBLICATION"> publication<br>
            <input type="radio" name="job" th:field="*{jobType}" value="ACTUALISATION"> actualisation<br><br>
            <p style="font-weight: bold;">Now you can either download or view files for your project</p>

            <button style="margin-top:-25px; background-color: yellow" type="submit" name="action" value="download">Download</button>
            <button style="margin-top:-25px; background-color: lightyellow" type="submit" name="action" value="view">View</button>
        </form>
        <hr>
        <br>
        <button style="background-color: gray" onclick="window.location.href = '/shutdown';">Shutdown the application</button>
    </div>
</div>

</body>
</html>