<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
</head>
<body bgcolor="#6495ed">

<div>
    <hr>
    <h3>Upload file form</h3>
    <form enctype="multipart/form-data" action="/upload" method="post">
        <p style="font-weight: bold;">Choose your file and then click "Upload"</p>
        <input type="file" name="file" /><br><br>
        <input style="background-color: yellow" type="submit" value="Upload" />
    </form>
    <hr>
    <br>
    <button style="background-color: lightyellow" onclick="window.location.href = '/raksform';">Back to RAKS form</button>
</div>

</body>
</html>