<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>File list</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor="#6495ed">

<div class="container">

    <div class="row">
        <div id="title">
            <h3>Your project consists of following files:</h3>
        </div>
        <table>
            <thead>
            <tr>
                <th style="text-align: left;">Name</th>
                <th style="text-align: left; padding:0 15px 0 15px;">Place</th>
<!--                <th style="text-align: left; padding:0 15px 0 15px;">Region</th>-->
<!--                <th style="text-align: left; padding:0 15px 0 15px;">Type</th>-->
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="cdrFile : ${cdrFiles}">
                <td th:text="${cdrFile.name}"></td>
                <td style="padding:0 15px 0 15px;" th:text="${cdrFile.place}"></td>
<!--                <td style="padding:0 15px 0 15px;" th:text="${cdrFile.region}"></td>-->
<!--                <td style="padding:0 15px 0 15px;" th:text="${cdrFile.type}"></td>-->
                <td>
<!--                    <form method="post" th:action="@{/givefile}">-->
<!--                        <input type="hidden" th:name="cdrFile_name" th:value="${cdrFile.name}">-->
<!--                        <input type="hidden" th:name="cdrFile_place" th:value="${cdrFile.place}">-->
<!--                        <input type="hidden" th:name="cdrFile_region" th:value="${cdrFile.region}">-->
<!--                        <input type="hidden" th:name="cdrFile_type" th:value="${cdrFile.type}">-->
<!--                    </form>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <button style="background-color: lightyellow" onclick="window.location.href = '/raksform';">Back</button>
</div>
</body>
</html>
